<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>&lt;Category&gt;/&lt;Entry&gt;</title>
  <link rel="stylesheet/less" type="text/css" href="/En/template/styles.less">
  <script src="https://cdn.jsdelivr.net/npm/less"></script>
</head>
<body>
  <div class="container">
    <div id="entry1" class="entry">
      <div class="header">
        <span class="headword">entry</span>
        <span class="badge">1 of 2</span>
        <a class="parts-of-speech" href="">verb</a>
      </div>
      <div class="attr">
        <div class="syllables-prons">
          <span class="syllable">syl·​la·​ble</span>
          <span class="pron">pron11</span>,
          <span class="pron">pron12</span>;
          <span class="pron">pron21</span>,
          <span class="pron">pron22</span>
          <i>also</i>
          <span class="pron">pron23</span>
        </div>
        <div class="inf-vrs">
          <span class="if">entry-d</span>
          <span class="pron">pron-d1</span>,
          <span class="pron">pron-d2</span><b>;</b>
          <span class="if">entry-ing</span>
          <span class="pron">pron-ing</span><b>;</b>
          <span class="if">entry-s</span>
          <span class="pron">pron-s</span>
          <i>especially British</i>
          <span class="pron">pron-s-br</span>
        </div>
      </div>
      <div id="entry1.1" class="sense">
        <p class="header">
          <a href="">transitive verb</a>
        </p>
        <div class="content">
          <div id="entry1.1-1" class="item">
            <div class="label">1</div>
            <div class="content">
              <div class="brief">
                <p>
                  <b>:</b>
                  entry 1 sense 1: such as
                </p>
              </div>
              <img src="img/image.png" alt="entry 1 sense 1">
              <div id="entry1.1-1a" class="item">
                <div class="label">a</div>
                <div class="content">
                  <p>
                    <b>:</b>
                    entry 1 sense 1.a: such as
                  </p>
                  <img src="img/image.png" alt="entry 1 sense 1.a">
                  <div id="entry1.1-1a(1)" class="item">
                    <div class="label">(1)</div>
                    <div class="content">
                      <p>
                        <b>:</b>
                        entry 1 sense 1.a.(1)
                      </p>
                    </div>
                  </div>
                  <div id="entry1.1-1a(2)" class="item">
                    <div class="label">(2)</div>
                    <div class="content">
                      <p>
                        <b>:</b>
                        entry 1 sense 1.a.(2)
                        <b>:</b>
                        <a class="related-entry" href="">related-entry</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="entry1.1-1b" class="item">
                <div class="label">b</div>
                <div class="content">
                  <p>
                    <b>:</b>
                    entry 1 sense 1.b
                  </p>
                  <p class="example">
                    the example sentence containing <i>entry</i>
                  </p>
                  <p>
                    <i>specifically</i>
                    <b>:</b>
                    to do something ...
                  </p>
                </div>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Synonyms & Similar Words
                </p>
                <ul>
                  <li><a href=""><span class="syn-4">syn-entry1</span></a></li>
                  <li><a href=""><span class="syn-4">syn-entry2</span></a></li>
                  <li><a href=""><span class="syn-4">syn-entry3</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry4</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry5</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry6</span></a></li>
                  <li><a href=""><span class="syn-2">syn-entry7</span></a></li>
                  <li><a href=""><span class="syn-2">syn-entry8</span></a></li>
                  <li><a href=""><span class="syn-2">syn-entry9</span></a></li>
                  <li><a href=""><span class="syn-1">syn-entry10</span></a></li>
                  <li><a href=""><span class="syn-1">syn-entry11</span></a></li>
                  <li><a href=""><span class="syn-1">syn-entry12</span></a></li>
                </ul>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Antonyms & Near Antonyms
                </p>
                <ul>
                  <li><a href=""><span class="ant-4">ant-entry1</span></a></li>
                  <li><a href=""><span class="ant-4">ant-entry2</span></a></li>
                  <li><a href=""><span class="ant-4">ant-entry3</span></a></li>
                  <li><a href=""><span class="ant-3">ant-entry4</span></a></li>
                  <li><a href=""><span class="ant-3">ant-entry5</span></a></li>
                  <li><a href=""><span class="ant-3">ant-entry6</span></a></li>
                  <li><a href=""><span class="ant-2">ant-entry7</span></a></li>
                  <li><a href=""><span class="ant-2">ant-entry8</span></a></li>
                  <li><a href=""><span class="ant-2">ant-entry9</span></a></li>
                  <li><a href=""><span class="ant-1">ant-entry10</span></a></li>
                  <li><a href=""><span class="ant-1">ant-entry11</span></a></li>
                  <li><a href=""><span class="ant-1">ant-entry12</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="entry1.1-2" class="item">
            <div class="label">2</div>
            <div class="content">
              <div class="brief">
                <p>
                  <b>:</b>
                  entry 1 sense 2
                  <b>:</b>
                </p>
                <p class="example">
                  the example sentence containing <i>entry</i>
                </p>
                <p class="example">
                  the example sentence containing <i>entry</i>
                </p>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Synonyms & Similar Words
                </p>
                <ul>
                  <li><a href=""><span class="syn-4">syn-entry1</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry2</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry3</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry4</span></a></li>
                  <li><a href=""><span class="syn-2">syn-entry5</span></a></li>
                </ul>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Antonyms & Near Antonyms
                </p>
                <ul>
                  <li><a href=""><span class="ant-4">ant-entry1</span></a></li>
                  <li><a href=""><span class="ant-4">ant-entry2</span></a></li>
                  <li><a href=""><span class="ant-3">ant-entry3</span></a></li>
                  <li><a href=""><span class="ant-3">ant-entry4</span></a></li>
                  <li><a href=""><span class="ant-2">ant-entry5</span></a></li>
                  <li><a href=""><span class="ant-2">ant-entry6</span></a></li>
                  <li><a href=""><span class="ant-1">ant-entry7</span></a></li>
                </ul>
              </div>
              <div class="deriv">
                <span class="headword">entry-able</span>
                <span class="pron">pron</span>
                <a class="parts-of-speech" href="">adjective</a>
              </div>
              <div class="deriv">
                <span class="headword">entry-ably</span>
                <a class="parts-of-speech" href="">adverb</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="entry1.2" class="sense">
        <p class="header">
          <a href="">auxiliary verb</a>
        </p>
        <div class="content">
          <div id="entry1.2-1" class="item">
            <div class="content">
              <div class="brief">
                <p>
                  → used with ...
                </p>
                <p class="example">
                  <i>has</i>
                </p>
                <p class="example">
                  <i>had</i>
                </p>
                <p class="example">
                  will <i>have</i>
                </p>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Synonyms & Similar Words
                </p>
                <ul>
                  <li><a href=""><span class="syn-4">syn-entry1</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry2</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry3</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry4</span></a></li>
                </ul>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Antonyms & Near Antonyms
                </p>
                <ul>
                  <li><a href=""><span class="ant-4">ant-entry1</span></a></li>
                  <li><a href=""><span class="ant-4">ant-entry2</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="entry2" class="entry">
      <div class="header long">
        <span class="headword">
          <span class="syl">very</span><span class="syl">very</span><span class="syl">very</span><span class="syl">long<span class="sylbreak">-</span>en</span><span class="syl">try</span>
        </span>
        <span class="badge">2 of 2</span>
        <a class="parts-of-speech" href="">noun</a>
      </div>
      <div class="attr">
        <div class="syllables-prons">
          <span class="syllable">syl·​la·​ble</span>
          <span class="pron">pron</span>
        </div>
        <div class="inf-vrs">
          <span class="badge">plural</span>
          <span class="if">plural-entry</span>
        </div>
        <div class="inf-vrs">
          <span class="badge">often attributive</span>
        </div>
      </div>
      <div id="entry2.1" class="sense">
        <div class="content">
          <div id="entry2.1-1" class="item">
            <div class="label">1</div>
            <div class="content">
              <div class="brief">
                <p>
                  <b>:</b>
                  entry 2 sense 1
                </p>
              </div>
              <div id="entry2.1-1a" class="item">
                <div class="label">a</div>
                <div class="content">
                  <p>
                    <span class="badge">of a word</span>
                    <b>:</b>
                    entry 2 sense 1.a
                  </p>
                  <p class="example">
                    the example sentence containing <i>entry</i>
                  </p>
                </div>
              </div>
              <div id="entry2.1-1b" class="item">
                <div class="label">b</div>
                <div class="content">
                  <p>
                    <span class="badge">of a sentence</span>
                    <b>:</b>
                    entry 2 sense 1.b
                  </p>
                  <p class="example">
                    the example sentence containing <i>entry</i>
                  </p>
                </div>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Synonyms & Similar Words
                </p>
                <ul>
                  <li><a href=""><span class="syn-4">syn-entry1</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry2</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry3</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry4</span></a></li>
                </ul>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Antonyms & Near Antonyms
                </p>
                <ul>
                  <li><a href=""><span class="ant-4">ant-entry1</span></a></li>
                  <li><a href=""><span class="ant-4">ant-entry2</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div id="entry2.1-2" class="item">
            <div class="label">2</div>
            <div class="content">
              <div class="brief">
                <p>
                  <b>:</b>
                  something which do
                  <a href="">entry</a>
                </p>
                <p class="example">
                  the example sentence containing <i>entry</i>
                </p>
                <p class="example">
                  the example sentence containing <i>entry</i>
                </p>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Synonyms & Similar Words
                </p>
                <ul>
                  <li><a href=""><span class="syn-4">syn-entry1</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry2</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry3</span></a></li>
                  <li><a href=""><span class="syn-3">syn-entry4</span></a></li>
                </ul>
              </div>
              <div class="syn-ant">
                <p class="header">
                  Antonyms & Near Antonyms
                </p>
                <ul>
                  <li><a href=""><span class="ant-4">ant-entry1</span></a></li>
                  <li><a href=""><span class="ant-4">ant-entry2</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="word-history" class="part">
      <h2>Word History</h2>
      <div class="chapter">
        <h3>Etymology</h3>
        <div class="section">
          <h4>Verb and Noun</h4>
          <p>Middle English ...</p>
        </div>
      </div>
      <div class="chapter">
        <h3>First Known Use</h3>
        <div class="section">
          <h4>Verb</h4>
          <p>before the 12th century ...</p>
        </div>
        <div class="section">
          <h4>Noun</h4>
          <p>circa 1739 ...</p>
        </div>
      </div>
    </div>
    <div id="homophones-differentiator" class="part">
      <h2>Distinguish the Homophones of <i>entry</i></h2>
      <!-- TODO: You can insert content with `.chapter>h3+.section>h4+p` -->
    </div>
    <div id="synonyms-chooser" class="part">
      <h2>Choose the Right Synonyms for <i>entry</i></h2>
      <!-- TODO: You can insert content with `.chapter>h3+.section>h4+p` -->
    </div>
    <div id="related-phrases" class="part">
      <h2>Related Phrases Containing <i>entry</i></h2>
      <div class="chapter">
        <h3>Phrases</h3>
        <div class="section">
          <h4>phrase1.1</h4>
          <i>or</i>
          <h4>phrase1.2</h4>
          <div class="sense">
            <div class="content">
              <div class="item">
                <div class="content">
                  <div class="brief">
                    <p>
                      <b>:</b>
                      phrase1
                    </p>
                    <p class="example">
                      the example sentence containing <i>phrase1</i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section">
          <h4>phrase2</h4>
          <div class="sense">
            <div class="content">
              <div class="item">
                <div class="content">
                  <div class="brief">
                    <p>
                      <b>:</b>
                      phrase2
                    </p>
                    <p class="example">
                      the example sentence containing <i>phrase2</i>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="chapter">
        <h3>Idioms</h3>
        <ul>
          <li><a href="">entry phrase1</a></li>
          <li><a href="">entry phrase2</a></li>
          <li><a href="">entry phrase3</a></li>
          <li><a href="">entry phrase4</a></li>
          <li><a href="">entry phrase5</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
