@import "font.css";
@import "base.css";

.container {
  background: #fff;
  color: #0a1b27
}
.container,
.container .entry-attr,
.container .entry-uros .uro .utxt .ex-sent,
.container a,
.container p,
.container .aq .auth,
.container .aq .source {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 28px;
}
@media(max-width:767.98px) {
  .container,
  .container .entry-attr,
  .container .entry-uros .uro .utxt .ex-sent,
  .container a,
  .container p,
  .container .aq .auth,
  .container .aq .source {
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    line-height: 24px
  }
}
.container p {
  color: inherit;
  margin-bottom: 0
}
.container p.function-label {
  color: #0f3850;
  font-weight: 700;
  margin-bottom: 8px
}
.container p:only-child {
  padding-bottom: 0
}
.container .cxl-ref .cxl {
  font-style: italic
}
.container .il {
  font-style: italic;
  font-weight: 400
}
.container .il.il-badge {
  background: #f4f4f4 !important;
  border-radius: 3px !important;
  color: #525a5b;
  display: inline-block !important;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-right: 5px;
  padding: 0 3px 2px !important
}
.container .sub-content-thread {
  margin-top: 4px;
  position: relative
}
.container .sub-content-thread .thread-anchor {
  background: linear-gradient(180deg, #999, #ccc 15%, #dbdbdb);
  border-radius: 20px;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 2.5%;
  width: 2px
}
.container .sub-content-thread .thread-anchor-fit-height {
  height: calc(100% - 12px);
  left: 0;
  top: 12px
}
.container .threaded-content .thread-anchor {
  display: none
}
.container .text-strong {
  font-weight: 700
}
.container a.to-quiz {
  font-size: 12px
}
.container a.to-quiz {
  font-weight: 700
}
.container .badge {
  padding: .125em .3125em
}
.container .mw-grid-table-list .entry-art-captions-list {
  padding-left: 8px
}
.container .pb-3 {
  padding-bottom: 24px !important
}
.container .function-label-header {
  margin-bottom: 8px
}
.container a {
  color: #0061f2
}
.container a:hover {
  color: #0061f2;
  text-decoration: underline
}
.container .word-syllables-prons-header-content {
  line-height: 25px !important
}
.container .word-syllables-prons-header-content .pr {
  line-height: 27px !important
}
.container .mw.no-badge {
  color: #757575 !important
}
.container a.play-pron-v2+a.play-pron-v2 {
  margin-left: 8px !important
}
.container .vg a.play-pron-v2 {
  color: #4a7d95 !important
}
.container .play-pron-v2 {
  padding-bottom: 3px !important;
  padding-top: 0 !important
}
.container .play-pron-v2:active {
  background: #d6e4ec !important;
  color: #4a7d95
}
.container .play-pron-v2:hover {
  background-color: #e7f0f4;
  border-color: #e7f0f4;
  color: #4a7d95 !important;
  text-decoration: none
}
.container .prons-entries-list {
  margin-top: 5px
}
.container .prons-entries-list .prons-entry-list-item.badge .pr {
  margin-right: 8px
}
.container .prons-entries-list .prons-entry-list-item.badge+.prons-entry-list-item::not(.badge) {
  margin-left: 10px
}
.container .sense-content .prons-entries-list {
  margin-top: 0 !important
}
.container .va {
  font-weight: 700 !important
}
.container .mw_t_it,
.container .mw_t_wi,
.container .vl {
  font-style: italic
}
.container .entry-uros .uns {
  padding-left: 0 !important
}
.container .cxl {
  font-style: italic
}
.container .cxt {
  color: #0074cc
}
.container a.mw_t_i_link {
  font-style: italic !important
}
@media(max-width:992px) {
  .content-section-with-header .content-section-sub-header {
    font-size: 20px;
    line-height: 27px
  }
}
.badge {
  border-radius: .25rem;
  color: #fff;
  display: inline-block;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  padding: .35em .65em;
  text-align: center;
  vertical-align: initial;
  white-space: nowrap
}
.badge:empty {
  display: none
}
.entry-header {
  margin-top: 5px
}
.entry-header.long-headword {
  padding-top: 10px !important
}
.entry-header.long-headword .entry-header-content.d-flex.align-items-center,
.entry-header.long-headword .vg .vg-sseq-entry-item .sb .sb-entry .entry-header-content.align-items-center.sub-num,
.entry-header.long-headword .vg .vg-sseq-entry-item .sb .sb-entry .pseq .entry-header-content.align-items-center.sn,
.entry-header.long-headword .vg .vg-sseq-entry-item .sb .sb-entry .sense .entry-header-content.align-items-center.sn,
.vg .vg-sseq-entry-item .sb .sb-entry .entry-header.long-headword .entry-header-content.align-items-center.sub-num,
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .entry-header.long-headword .entry-header-content.align-items-center.sn,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .entry-header.long-headword .entry-header-content.align-items-center.sn {
  flex-wrap: wrap;
  padding-bottom: 4px !important
}
.entry-header .entry-header-content {
  margin-bottom: 2px
}
.entry-header .entry-header-content .hword {
  flex: initial;
  font-family: Playfair Display, serif;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 0;
  margin-right: 10px;
  order: 0
}
@media(max-width:992px) {
  .entry-header .entry-header-content .hword {
    font-size: 39px;
    line-height: 52px
  }
}
.entry-header .entry-header-content .entry-numbers-badge {
  background: #f4f4f4;
  border-radius: 3px;
  bottom: 3px;
  color: #0a1b27;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 26px;
  opacity: .75;
  text-align: center
}
.entry-header .entry-header-content .important-blue-link,
.entry-header .entry-header-content h2.parts-of-speech {
  color: #4a7d95;
  font-family: Playfair Display, serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  text-decoration: none
}
@media(max-width:992px) {
  .entry-header .entry-header-content .important-blue-link,
  .entry-header .entry-header-content h2.parts-of-speech {
    font-family: Playfair Display, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px
  }
}
.entry-header .word-syllables-prons-header-content {
  color: #757575;
  gap: 3px;
  margin-right: 10px
}
.entry-header .word-syllables-prons-header-content .play-pron-v2 {
  padding: 0 10px 1px 12px;
  text-decoration: none
}
.entry-header .word-syllables-prons-header-content .play-pron-v2:active {
  background: #d6e4ec !important;
  color: #4a7d95
}
.entry-header .word-syllables-prons-header-content .play-pron-v2:hover {
  background: #e7f0f4;
  color: #4a7d95 !important;
  color: #265667 !important
}
.entry-header .word-syllables-prons-header-content .word-syllables-entry {
  display: inline-block !important;
  margin-right: 10px;
  margin-top: 5px
}
.entry-header .word-syllables-prons-header-content .prons-entries-list-inline .prons-entry-list-item+a.prons-entry-list-item {
  margin-left: 5px !important
}
.entry-header .word-syllables-prons-header-content .prons-entries-list-inline .prons-entry-list-item+div.prons-entry-list-item:before {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 0
}
.entry-header.long-headword {
  line-height: normal !important;
  padding-right: 15px
}
.entry-header .fl,
.entry-header .fl a,
.entry-header .lbs {
  color: #4a7d95;
  display: inline;
  font-family: Playfair Display, serif;
  font-size: 26px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 36px;
  text-decoration: none
}
.entry-header .fl a a:hover,
.entry-header .fl a:hover,
.entry-header .lbs a:hover {
  background-image: linear-gradient(90deg, #4a7d95 100%, #0000 0);
  background-position: 0 1.15em;
  background-repeat: repeat-x;
  background-size: 3px 2px;
  color: #4a7d95
}
.entry-header a {
  display: inline
}
.entry-header h1.hword .syl {
  line-height: 61px
}
.entry-header h2.hword .syl,
.entry-header p.hword .syl {
  line-height: 46px
}
.entry-header .save-to-list {
  align-items: center;
  display: flex;
  line-height: 34px;
  min-height: 34px
}
@media(min-width:768px) {
  .entry-header .save-to-list {
    align-items: flex-start;
    margin: 13px 0 8px
  }
}
@media(max-width:575px) {
  .entry-header .save-to-list {
    min-height: 55px
  }
}
.entry-header #save-to-list-link {
  color: #303336;
  display: none;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px
}
.entry-header #save-to-list-link:hover {
  text-decoration: none
}
.entry-header #save-to-list-link.shown {
  display: flex
}
.entry-header #save-to-list-link img {
  height: 32px;
  margin-right: 5px;
  width: 32px
}
@media(min-width:768px) {
  .entry-header #save-to-list-link #save-to-list-txt {
    flex-basis: 92px
  }
}
@media(max-width:767.98px) {
  .long-headword {
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word
  }
  .entry-header .save-to-list a {
    margin: 13px 0 8px
  }
}
.mw-grid-table-list {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  width: 100%
}
.mw-grid-table-list li {
  margin-bottom: 10px;
  padding-right: 30px
}
.mw-grid-table-list ul {
  padding-left: 0;
  width: 100%
}
svg.svg.me-1.replaced-svg {
  transform: scaleX(1.5) scaleY(2)
}
.ca .cat,
.ca .psl {
  font-style: italic
}
:not(.dtText)+.ca {
  padding-top: 8px
}
.content-sub-hdr {
  color: #525a5b;
  display: none;
  font-size: 18px;
  margin-bottom: 0 !important;
  margin-top: 10px !important
}
@media(max-width:1199.98px) {
  .content-sub-hdr {
    display: block
  }
}
.vg {
  padding-top: 4px
}
.vg+.vg {
  margin-top: 20px;
  padding-top: 10px
}
.vg a {
  color: #0074cc;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 28px;
  text-decoration: none
}
.vg .vd {
  margin-bottom: 8px
}
.vg .vd a.important-blue-link {
  font-style: italic;
  font-weight: 400
}
.vg .vd a {
  font-style: italic
}
.vg .vg-sseq-entry-item {
  display: flex;
  padding-bottom: 20px;
  padding-top: 0;
  position: relative
}
.vg .vg-sseq-entry-item:last-child:not(:only-child) {
  margin-bottom: 5px;
  padding-bottom: 8px
}
.vg .vg-sseq-entry-item .vg-sseq-entry-item-thread-anchor {
  background: linear-gradient(180deg, #cbe1ea, #cbe1ea7a 21.21%, #cbe1ea7a 78.8%, #cbe1eae6);
  background: linear-gradient(180deg, #bbd5e0, #deeaef 17.8%, #deeaef 81.87%, #bbd5e0);
  border-radius: 4px;
  display: block;
  height: calc(100% - 37px);
  left: 9px;
  position: absolute;
  top: 33px;
  width: 3px
}
.vg .vg-sseq-entry-item .vg-sseq-entry-item-label {
  color: #303336;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  min-width: 20px;
  text-align: center
}
.vg .vg-sseq-entry-item .sb.no-sn {
  margin-left: 0
}
.vg .vg-sseq-entry-item .sb.has-let .sn .letter,
.vg .vg-sseq-entry-item .sb.has-let .sn .num,
.vg .vg-sseq-entry-item .sb.has-let .sn .sub-num,
.vg .vg-sseq-entry-item .sb.has-num .sn .letter,
.vg .vg-sseq-entry-item .sb.has-num .sn .num,
.vg .vg-sseq-entry-item .sb.has-num .sn .sub-num,
.vg .vg-sseq-entry-item .sb.letter-only .sn .letter,
.vg .vg-sseq-entry-item .sb.letter-only .sn .num,
.vg .vg-sseq-entry-item .sb.letter-only .sn .sub-num {
  padding-right: 8px
}
.vg .vg-sseq-entry-item .sb .sb-entry {
  margin-bottom: 8px
}
@media(max-width:767.98px) {
  .vg .vg-sseq-entry-item .sb .sb-entry {
    margin-bottom: 4px
  }
}
.vg .vg-sseq-entry-item .sb .sb-entry:last-child {
  padding-bottom: 0
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .letter {
  padding-right: 8px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sense+.sense {
  padding-top: 10px
}
.vg .vg-sseq-entry-item .sb .sb-entry .sen.has-sn .sgram {
  padding-left: 8px
}
.vg .vg-sseq-entry-item .sb .sb-entry .sgram a {
  font-style: italic
}
.vg .vg-sseq-entry-item .sb .sb-entry .letter,
.vg .vg-sseq-entry-item .sb .sb-entry .num {
  color: #303336;
  display: inline-block;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px
}
.vg .vg-sseq-entry-item .sb .sb-entry .sense.has-subnum-only {
  padding-left: 20px !important
}
.vg .vg-sseq-entry-item .sb .sb-entry .sense.no-subnum {
  flex-wrap: wrap
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq,
.vg .vg-sseq-entry-item .sb .sb-entry .sense {
  display: flex
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .lb+.dt,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .lb+.dt {
  padding-left: 4px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .dt,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .dt {
  display: inline
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sense-content .if+.spl.badge,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .sense-content .if+.spl.badge {
  margin-left: 4px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sense-content .aq,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .sense-content .aq {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sense-content .lb,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .sense-content .lb {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 26px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sdsense,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .sdsense {
  padding-top: 8px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sdsense .sd,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .sdsense .sd {
  font-style: italic
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .lb+.dt,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .lb+.dt {
  padding-left: 0
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .num,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .num {
  margin-right: 10px;
  min-width: 21px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .ex-sent,
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .snote,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .ex-sent,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .snote {
  color: #8a8d91;
  display: block;
  padding-bottom: 0;
  padding-left: 12px;
  padding-top: 0
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .dtText .dx-jump,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .dtText .dx-jump {
  display: block;
  padding-top: 8px
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .mw_t_wi,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .mw_t_wi {
  font-style: italic
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sub-content-thread,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .sub-content-thread {
  position: relative
}
.vg .vg-sseq-entry-item .sb .sb-entry .pseq .sub-content-thread .thread-anchor,
.vg .vg-sseq-entry-item .sb .sb-entry .sense .sub-content-thread .thread-anchor {
  background: linear-gradient(180deg, #999, #ccc 15%, #dbdbdb);
  border-radius: 20px;
  display: block;
  position: absolute;
  width: 2px
}
.vg .vg-sseq-entry-item .sb .sb-entry .sense.has-num-only {
  padding-left: 10px
}
.vg .vg-sseq-entry-item .sb .sb-entry .sub-num {
  align-items: center;
  align-self: flex-start;
  color: #303336;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  line-height: 29px
}
.vg .vg-sseq-entry-item .sb .sb-entry .mw_t_d_link,
.vg .vg-sseq-entry-item .sb .sb-entry .mw_t_sx {
  color: #0061f2;
  text-decoration: none
}
.vg .vg-sseq-entry-item .sb .sb-entry .mw_t_d_link:hover,
.vg .vg-sseq-entry-item .sb .sb-entry .mw_t_sx:hover {
  text-decoration: underline
}
.vg .vg-sseq-entry-item .sb .sb-entry .mw_t_sx {
  font-size: 19px;
  font-weight: 700
}
.vg .vg-sseq-entry-item .sb .sb-entry .mw_t_sx .text-uppercase {
  font-size: 17px
}
@media(max-width:991.98px) {
  .vg .vg-sseq-entry-item .sb .sb-entry .mw_t_sx {
    font-size: 17px
  }
  .vg .vg-sseq-entry-item .sb .sb-entry .mw_t_sx .text-uppercase {
    font-size: 16px
  }
}
.vg .vg-sseq-entry-item .sb .sb-entry .lb {
  display: inline-block
}
.vg .vg-sseq-entry-item .sb .sb-entry .t {
  padding-top: 8px
}
.subs .sub .shw {
  color: #303336;
  font-weight: 700
}
.subs .sub .vg .sense {
  display: block !important
}
.subs>.sub {
  padding-top: 10px
}
.vg-ins {
  color: #525a5b;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  line-height: 38px
}
.prt-a .mw-badge-gray-300 {
  margin-left: 10px;
  margin-right: 4px;
  padding: 0 10px 2px 12px
}
.prt-a .mw-badge-gray-300 .mw {
  color: inherit;
  margin-right: 4px
}
.prt-a .mw.no-badge {
  color: #757575 !important
}
.entry-uros .play-pron-v2 {
  text-decoration: none
}
.entry-uros .play-pron-v2:active {
  background: #d6e4ec !important;
  color: #4a7d95
}
.entry-uros .play-pron-v2:hover {
  color: #4a7d95 !important
}
.entry-uros .uro.no-pron+.uro.no-pron {
  margin-top: 5px
}
.prons-entries-list .l,
.prons-entries-list .l2,
.prons-entry-list-item .l,
.prons-entry-list-item .l2 {
  color: #757575 !important;
  font-style: italic !important;
  font-weight: 400 !important
}
.headword-row {
  padding-top: 4px
}
.headword-row .vrs {
  color: #303336
}
.entry-art-content .entry-art-content-header {
  border-bottom: 2px solid;
  border-image: linear-gradient(270.46deg, #c5a332bf .38%, #c5a33273 15.57%, #c5a33273 86.79%, #c5a332 99.21%);
  border-image-slice: 1;
  margin-bottom: 20px;
  padding-bottom: 10px
}
.entry-art-content .entry-art-content-header h2 {
  color: #0f3850;
  font-family: Playfair Display, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px
}
@media(max-width:992px) {
  .entry-art-content .entry-art-content-header h2 {
    font-size: 20px;
    line-height: 27px
  }
}
.entry-art-content .entry-art-content-img-container {
  background: #fff;
  border: 4px solid #f4f4f4;
  border-radius: 11px;
  box-shadow: inset 0 0 100px #0000000a;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px 0
}
.entry-art-content .entry-art-content-img-container img {
  padding-bottom: 0
}
.entry-art-content .entry-art-captions-list {
  margin-top: 20px
}
.entry-art-content .entry-art-captions-list .mw_t_it {
  font-style: normal
}
.entry-art-content .entry-art-captions-list .mw_t_bold {
  padding-right: 8px
}
.dros {
  color: #bfc4c9;
  font-weight: 700
}
.entry-uros {
  display: block;
  margin-left: 1px;
  margin-top: -23px;
  padding-bottom: 20px;
  padding-top: 0
}
.entry-uros+.dxnls {
  margin-top: 20px !important
}
.entry-uros.has-single-def {
  margin-left: 0 !important;
  padding-left: 0 !important
}
.entry-uros.has-single-def .uro,
.entry-uros.has-single-def .uro .uro-content {
  padding-left: 0 !important
}
.entry-uros.has-single-def .uro .uro-content:after,
.entry-uros.has-single-def .uro .uro-content:before {
  display: none !important
}
.entry-uros.has-single-def .uro .uro-content .ins,
.entry-uros.has-single-def .uro .uro-content .ure,
.entry-uros.has-single-def .uro .uro-content .utxt,
.entry-uros.has-single-def .uro .uro-content .vrs {
  padding-left: 0 !important
}
.entry-uros .uro {
  display: flex;
  padding-left: 9px;
  position: relative
}
.entry-uros .uro:first-child .uro-content {
  padding-top: 25px
}
.entry-uros .uro:last-child .uro-content:after {
  height: calc(100% - 24px)
}
.entry-uros .uro.no-pron:last-child .uro-content:after {
  display: block !important
}
.entry-uros .uro.no-pron .uro-content:before {
  margin-top: 10px
}
.entry-uros .uro+.uro {
  margin-top: 0
}
.entry-uros .uro .uro-content {
  padding-left: 20px
}
.entry-uros .uro .uro-content:before {
  background-color: #cbe1ea;
  border: 3px solid #fff;
  border-radius: 6px;
  content: "";
  display: inline-block;
  height: 12px;
  margin-left: -25px;
  margin-top: 16px;
  position: absolute;
  width: 12px;
  z-index: 1
}
.entry-uros .uro .uro-content:after {
  background: linear-gradient(180deg, #cbe1ea, #cbe1ea7a 21.21%, #cbe1ea7a 78.8%, #cbe1eae6);
  content: "";
  display: block;
  height: calc(100% + 7px);
  left: 8px;
  position: absolute;
  top: 14px;
  width: 3px
}
.entry-uros .uro .uro-content .prons-entries-list {
  padding-left: 14px
}
.entry-uros .uro:last-child .uro-content:after {
  height: calc(100% - 5px)
}
.entry-uros .uro.no-pron:last-child:not(:first-child) .uro-content:after {
  display: none !important
}
.entry-uros .uro.no-pron:last-child:first-child .uro-content:after {
  height: 50%
}
.entry-uros .uro .prons-entries-list {
  margin-top: 5px
}
.entry-uros .uro .prons-entries-list .prons-entry-list-item.badge .pr {
  margin-right: 8px
}
.entry-uros .uro .prons-entries-list .prons-entry-list-item.badge+.prons-entry-list-item {
  margin-left: 10px
}
.entry-uros .ure {
  background: linear-gradient(90deg, #303336, #303336cc 34.96%, #303336);
  -webkit-background-clip: text;
  font-size: 24px;
  line-height: 34px;
  -webkit-text-fill-color: #0000;
  background-clip: text;
  text-fill-color: #0000;
  line-height: 26px !important
}
.entry-uros .fl,
.entry-uros .ure {
  font-family: Playfair Display, serif;
  font-style: normal;
  font-weight: 700
}
.entry-uros .fl {
  color: #4a7d95;
  font-size: 16px;
  line-height: 21px
}
.entry-uros.has-single-def .uro .uro-content:after,
.entry-uros.has-single-def .uro.no-pron:last-child .uro-content:after {
  display: none !important
}
.widget {
  padding-bottom: 35px;
  padding-top: 30px
}
.widget {
  min-height: 285px
}
.important-blue-link {
  color: #4a7d95;
  font-family: Playfair Display, serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 43px;
  text-decoration: none
}
.entry-uros .uro .uro-content .prons-entries-list {
  padding-left: 4px;
  padding-right: 4px
}
.entry-uros .uro .ins {
  line-height: 24px !important;
  padding-bottom: 0 !important
}
.entry-uros .uro .ins,
.entry-uros .uro .utxt {
  padding-left: 13px !important
}
.entry-uros .uro .utxt .ex-sent {
  color: #8a8d91;
  display: block;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  font-style: normal;
  line-height: 28px;
  padding-bottom: 0;
  padding-left: 8px;
  padding-top: 0
}
.entry-uros .uro .utxt .ex-sent+.ex-sent.aq {
  padding-top: 0
}
.entry-uros .uro .utxt .sub-content-thread {
  position: relative
}
.entry-uros .uro .utxt .sub-content-thread .thread-anchor {
  background: linear-gradient(180deg, #999, #ccc 15%, #dbdbdb);
  border-radius: 20px;
  display: block;
  position: absolute;
  width: 2px
}
.entry-uros .uro .vrs {
  padding-left: 13px !important
}
.entry-uros .uro .vrs:before {
  background: #f4f4f4;
  border-radius: 3px;
  color: #525a5b;
  content: "variants";
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  padding: .125em .3125em;
  text-align: center
}
.entry-uros .uro .vrs .vr {
  background-color: #0000 !important;
  opacity: 1 !important;
  width: auto !important
}
.entry-uros .uro .vrs .vr .va {
  font-weight: 700 !important
}
.entry-uros .uro .vrs .vr .vl {
  font-style: italic
}
.word-history .et_snote {
  color: #757575;
  display: block;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 21px;
  padding-bottom: 0;
  padding-left: 8px;
  padding-top: 8px
}
.word-history .sub-content-thread {
  position: relative
}
.word-history .sub-content-thread .thread-anchor {
  background: linear-gradient(180deg, #999, #ccc 15%, #dbdbdb);
  border-radius: 20px;
  display: block;
  position: absolute;
  width: 2px
}
.word-history p.function-label {
  padding-top: 20px !important
}
.word-history .content-section-sub-header+p.function-label {
  padding-top: 3px !important
}
.word-history .pb-3+p.function-label {
  margin-top: -4px;
  padding-top: 0 !important
}
.word-history .content-section-sub-header p.function-label {
  padding-top: 0 !important
}
.word-history .mw_t_et_link,
.word-history .mw_t_mat {
  color: #0074cc;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase
}
.time-travel-content-section .text-strong+div {
  padding-top: 8px !important
}
.etymology-content-section+.time-travel-content-section,
.first-known-content-section+.time-travel-content-section {
  margin-top: -35px
}
.update-date {
  margin-top: 30px
}
.function-label-header {
  color: #000;
  display: block;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 15px
}
.word-history {
  color: #0a1b27
}
.word-history .content-section-sub-header {
  margin-top: 20px
}
.word-history .content-section-sub-header p.ety-sl.pb-3 {
  padding: 0 !important
}
.word-history .first-known-content-section {
  margin-bottom: 35px
}
.synonyms-antonyms-content-lists .mw-grid-table-list {
  padding-left: 0
}
.synonyms-antonyms-content-lists .mw-grid-table-list li {
  -webkit-hyphens: auto;
  hyphens: auto;
  vertical-align: top;
  width: 33.33%
}
@media(max-width:1199px)and (min-width:992px) {
  .synonyms-antonyms-content-lists .mw-grid-table-list li {
    width: 33.33% !important
  }
}
@media(max-width:767px) {
  .synonyms-antonyms-content-lists .mw-grid-table-list li {
    width: 50% !important
  }
}
#synonym-discussion a {
  font-weight: 700;
  text-transform: uppercase
}
#synonym-discussion .sub-content-thread .thread-anchor-content {
  color: #757575;
  padding-left: 8px
}
#synonym-discussion .synonym-discussion-entries-container .pb-6:last-child {
  padding-bottom: 0 !important
}
.etymology-content-section {
  margin-bottom: 30px
}
.content-section-body.try-this-module-content {
  padding-left: 10px
}
a {
  text-decoration: none
}
.as-in-word+.thes-list {
  margin-top: 15px !important
}
.last-partial {
  display: block;
  padding-top: 180px
}
.sylbreak:after {
  content: "​"
}
.long-headword {
  padding-right: 15px
}
.long-headword .hword {
  align-items: baseline;
  -ms-align-items: baseline;
  display: -ms-flexbox;
  justify-content: center;
  -ms-justify-content: center
}
.long-headword .syl {
  background-color: #fff;
  z-index: 2
}
.long-headword .syl:after {
  content: "-";
  display: inline-block;
  width: 0;
  z-index: 1
}
.long-headword .syl:last-of-type:after {
  content: "​";
  display: none
}
@media(min-width:768px) {
  .long-headword .save-to-list {
    padding-right: 0
  }
}
.entry-attr {
  color: #225f73;
  font-size: 18px;
  line-height: 22px
}
.entry-attr .prs,
.entry-attr .word-syllables,
.entry-attr.vrs {
  font-family: Open Sans, Helvetica, Arial, sans-serif
}
.entry-attr .word-syllables {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word
}
.entry-attr .vl {
  font-style: italic
}
.entry-attr .syl-break {
  padding: 0 7px
}
.entry-attr .va {
  font-weight: 700
}
.entry-attr .va-link {
  color: #225f73;
  text-decoration: underline
}
.table-image {
  padding-top: 20px
}
.sb .mw_t_sx {
  text-transform: uppercase
}
.sb .slashes {
  font-weight: 700;
  padding-right: 5px
}
.sb .t {
  display: block;
  padding-top: 10px
}
.sb .t.has-aq {
  padding-bottom: 4px
}
.sb .aq.has-aq {
  color: #525a5b;
  display: block;
  font-size: 16px;
  font-stretch: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 10px
}
.list {
  padding-left: 25px
}
.list .list-title {
  display: block;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-stretch: normal;
  font-weight: 700;
  letter-spacing: .2px;
  line-height: 22px;
  padding-bottom: 10px
}
.dro .vg {
  padding-bottom: 20px
}
.dro .vg:last-of-type {
  padding-bottom: 0
}
.dro .drp,
.dro .ure {
  font-weight: 700
}
.dro .ure {
  color: #225f73;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  margin: 0 4px 0 0
}
.dro .ure+.prs {
  margin-left: -4px
}
.dro .vr .vl {
  font-style: italic
}
.dro .vr .va,
.if {
  font-weight: 700
}
.first-slash,
.last-slash,
.prt-a {
  color: #225f73
}
.prt-a .mw+.addPunct {
  margin-left: -3px
}
.vrs .last-slash {
  margin-left: -3px;
  margin-right: 5px
}
.vrs .vr>.prt-a>:last-child {
  margin-right: 3px
}
.vg-ins {
  font-family: Open Sans, Helvetica, Arial, sans-serif
}
.vg-ins .sep-semicolon {
  padding-right: 0
}
.vg-ins .first-slash {
  padding-left: 10px
}
.vg-ins .last-slash {
  margin-left: -3px;
  margin-right: 2px
}
.uros {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px
}
.uros p.function-label {
  padding-top: 10px
}
.uros p.function-label:first-of-type {
  padding-top: 0
}
.uros .uro {
  padding-bottom: 10px
}
.uros .uro:last-of-type {
  padding-bottom: 0
}
.uros .ure {
  color: #303336;
  font-weight: 700
}
.uros .vr {
  margin-left: -1px
}
.uros .vr .vl {
  color: #225f73;
  font-style: italic
}
.uros .vr .va {
  font-weight: 700
}
.uros .fl,
.uros .il,
.uros .lb,
.uros .mw_t_qword,
.uros .mw_t_wi,
.uros .sl {
  font-style: italic
}
.uros .fl,
.uros .il,
.uros .lb,
.uros .mw,
.uros .sl,
.uros .t,
.uros .vis {
  color: #225f73
}
.uros .first-slash,
.uros .last-slash {
  color: #225f73;
  margin-left: -3px
}
.uros .prt-a>:last-child {
  margin-right: 3px
}
.uros .first-slash {
  padding-left: 10px
}
.uros .last-slash {
  margin-right: 5px
}
.uros .il.plural {
  padding: 0 10px 0 0
}
.uros .slashes {
  font-weight: 700;
  padding-right: 5px
}
.uros .t {
  display: block;
  padding-top: 10px
}
.uros .t.first-child {
  padding-top: 5px
}
.uros .t.has-aq {
  padding-bottom: 4px
}
.uros .t:before {
  color: #4a7d95;
  content: "//";
  font-weight: 700
}
.uros .mw_t_sp {
  margin-left: 5px
}
.uros .aq.has-aq {
  color: #525a5b;
  display: block;
  font-size: 16px;
  font-stretch: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 0 10px
}
.uros:first-of-type {
  padding-top: 0
}
.other-etymology-list,
.other-uros {
  margin: 40px 0 0 !important
}
.other-etymology-list .hword2 {
  display: block !important
}
.other-etymology-list p {
  margin-bottom: 20px
}
.related-phrases-dictionary .comment-text {
  margin-top: .5em
}
.vg-header {
  margin-top: 18px
}
.thes-syn-discussion {
  margin-top: 60px
}
.synonyms_list .mw-list {
  margin-bottom: 20px !important
}
.synonyms_list .mw-list:last-of-type {
  margin-bottom: 0 !important
}
.synonyms_list p:not(.function-label) {
  color: #303336;
  margin-bottom: 20px
}
.synonyms_list p:not(.function-label) a {
  font-style: normal;
  margin-right: 1px
}
.synonyms_list p:not(.function-label) a.syn-last {
  margin-right: 0
}
.synonyms_list p:not(.function-label) span {
  font-style: italic
}
.illustrations {
  margin: 60px 0 20px
}
.illustrations h2 {
  display: block !important
}
.illustrations .caption {
  padding-bottom: 10px
}
.illustrations .mw_t_it {
  color: #265667
}
.illustrations img {
  padding-bottom: 20px
}
.etymology-list p,
.firstknown-list p {
  margin-bottom: 20px
}
.etymology-list .mw_t_et_link,
.firstknown-list .mw_t_et_link {
  text-transform: uppercase
}
#time-traveler-anchor a.time-traveler {
  float: left;
  margin-right: 10px
}
.mw_t_phrase {
  font-style: italic !important;
  font-weight: 700 !important
}
.sense .thes-list-header:before {
  margin-left: -30px;
  z-index: 1
}
.sense .thes-list-header:before,
.vg .vg-sseq-entry-item .vg-sseq-entry-item-label.bullet-only:before {
  background-color: #cbe1ea;
  border: 8.5px solid #fff;
  border-radius: 22px;
  content: "";
  display: inline-block;
  height: 24px;
  margin-top: 3.5px;
  position: absolute;
  width: 24px
}
.vg .vg-sseq-entry-item .vg-sseq-entry-item-label.bullet-only:before {
  margin-left: -11px
}
.vg .vg-sseq-entry-item.bullet-only .vg-sseq-entry-item-thread-anchor {
  top: 28px !important
}
@media(max-width:767px) {
  .sense .thes-list-header .thes-list-header-row {
    display: block !important
  }
  .sense .thes-list-header .thes-list-header-row .thes-relevance-meter {
    align-items: normal !important
  }
}
.sense .thes-relevance-meter {
  font-size: 14px
}
.sense .thes-relevance-meter .meter {
  align-items: center;
  display: flex !important;
  flex-direction: row;
  padding-top: 4px !important
}
.sense .thes-relevance-meter .meter div:first-child {
  border-bottom: 1px dashed #0061f2;
  color: #0061f2;
  cursor: default;
  font-weight: 700;
  line-height: 17px;
  margin-right: 5px
}
.sense .thes-relevance-meter .meter .color {
  border-radius: 2px;
  height: 10px;
  margin-top: 2px !important;
  width: 14px
}
.sense .thes-relevance-meter .meter .color+.color {
  border-left: 2px solid #fff
}
.sense .thes-relevance-meter .meter .color-1 {
  background: #f75b00
}
.sense .thes-relevance-meter .meter .color-2 {
  background: #fdceaa
}
.sense .thes-relevance-meter .meter .color-3 {
  background: #fef0e6
}
.sense .thes-list {
  display: block;
  margin-top: 30px
}
.sense .thes-list-header {
  margin-bottom: 20px
}
.sense .lozenge {
  border-radius: 6px;
  display: inline-block;
  font-size: 18px !important;
  font-weight: 700;
  padding: 1px 8px
}
.sense .lozenge.color-4:hover {
  box-shadow: inset 0 0 0 3px #0003
}
.sense .lozenge.color-3:hover {
  box-shadow: inset 0 0 0 3px #0000001a
}
.sense .lozenge.color-2:hover {
  box-shadow: inset 0 0 0 3px #00000014
}
.sense .lozenge.color-1:hover {
  box-shadow: inset 0 0 0 3px #0000000a
}
.sense .thes-list .mw-grid-table-list ul {
  margin-bottom: 0 !important
}
.sense .thes-list .mw-grid-table-list ul li {
  margin-bottom: 6px !important
}
@media(max-width:576px) {
  .sense .thes-list .thes-word-list-item.col-6 {
    width: auto
  }
}
.sense .thes-list .opp-list-scored-container .lozenge.color-1 {
  background: #f4f4f4;
  color: #004eaf
}
.sense .thes-list .opp-list-scored-container .lozenge.color-2 {
  background: #ebf5ff;
  color: #004eaf
}
.sense .thes-list .opp-list-scored-container .lozenge.color-3 {
  background: #cce3fe;
  color: #004eaf
}
.sense .thes-list .opp-list-scored-container .lozenge.color-4 {
  background: #0061f2;
  color: #fff
}
.sense .thes-list.sim-list-scored .lozenge.color-1 {
  background: #f4f4f4;
  color: #a33c00
}
.sense .thes-list.sim-list-scored .lozenge.color-2 {
  background: #fef0e6;
  color: #a33c00
}
.sense .thes-list.sim-list-scored .lozenge.color-3 {
  background: #fdceaa;
  color: #a33c00
}
.sense .thes-list.sim-list-scored .lozenge.color-4 {
  background: #f75b00;
  color: #fff
}
.as-in-word {
  display: block;
  font-weight: 700;
  margin-bottom: 8px
}
.bg-opacity-80 {
  --bs-bg-opacity: 0.8
}
.position-left {
  left: 0 !important
}
.position-top {
  top: 0 !important
}
.position-right {
  right: 0 !important
}
.position-bottom {
  bottom: 0 !important
}
.eb-header {
  background: #0a1b27;
  color: #e7f0f4;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 11px;
  height: 23px;
  line-height: 23px
}
.border-box {
  box-sizing: border-box
}
.text-center {
  text-align: center
}
.margin-b-30px {
  margin-bottom: 30px
}
.margin-t-10px {
  margin-top: 10px
}
.prt-a .mw {
  color: #757575
}
.prt-a .mw,
.text-normal {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .01em;
  line-height: 21px
}
.prt-a .mw,
.text-normal {
  color: #303336
}
.content-section-with-header .content-section-header h2 {
  background-clip: border-box;
  background: -webkit-linear-gradient(90deg, #133f59, #0f3850 60.42%, #0f3850);
  -webkit-background-clip: text;
  font-family: Playfair Display, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  -webkit-text-fill-color: #0000;
  margin-bottom: 0
}
@media(max-width:767.98px) {
  .content-section-with-header .content-section-header h2 {
    font-size: 20px;
    line-height: 27px
  }
}
.text-gray-600 {
  color: #303336
}
.bg-mw-black {
  background: #0a1b27
}
.mw-badge-gray-300 {
  background: #fff;
  border: 1px solid #97bece;
  border-radius: 100px;
  color: #4a7d95 !important;
  font-size: 19px;
  font-weight: 400;
  line-height: 28px;
  padding: 0 12px
}
.mw-badge-gray-100,
.mw-badge-gray-300 {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-style: normal
}
.mw-badge-gray-100 {
  background: #f4f4f4;
  border-radius: 3px;
  color: #525a5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: .125em .3125em;
  text-align: center
}
.mw-text-muted {
  color: #757575
}
.content-section-with-header .content-section-header {
  background: #f4f4f4;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 8px 14px;
  position: relative
}
.content-section-with-header .content-section-header h2 {
  background: -webkit-linear-gradient(90deg, #133f59, #0f3850 60.42%, #0f3850);
  -webkit-background-clip: text;
  font-family: Playfair Display, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px;
  -webkit-text-fill-color: #0000;
  margin-bottom: 0
}
@media(max-width:767.98px) {
  .content-section-with-header .content-section-header h2 {
    font-size: 20px;
    line-height: 27px
  }
}
.content-section-with-header .content-section-header.content-section-border-gold:before {
  background-color: #d7ac20;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px
}
.content-section-with-header .content-section-header.content-section-border-gold:after {
  background-image: url(/dist-cross-dungarees/2025-06-25--17-46-10-4fab2f/images/svg/redesign/content-section-header-ellipsis-gold.svg);
  content: "";
  display: block;
  height: 6px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 6px
}
.content-section-with-header .content-section-header:not(.content-section-border-gold):before {
  background-color: #c5c7c9;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px
}
.content-section-with-header .content-section-body {
  padding: 0 10px
}
.content-section-with-header .content-section-sub-header,
.content-section-with-header .content-section-sub-heading {
  color: #0f3850;
  font-family: Playfair Display, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px
}
@media(max-width:992px) {
  .content-section-with-header .content-section-sub-header,
  .content-section-with-header .content-section-sub-heading {
    font-size: 20px;
    line-height: 27px
  }
}
.content-section-with-header .content-section-sub-header {
  border-bottom: 2px solid;
  border-image: linear-gradient(270.46deg, #c5a332bf .38%, #c5a33273 15.57%, #c5a33273 86.79%, #c5a332 99.21%);
  border-image-slice: 1;
  color: #0f3850;
  display: block;
  margin-bottom: 12px;
  padding-bottom: 5px;
  width: 100%
}
.content-section-with-header .content-section-sub-header .entry-art-content .entry-art-content-header {
  margin-bottom: 14px;
  padding-bottom: 4px
}
.content-section-with-header .content-section-sub-header-label {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  white-space: nowrap
}
@media(max-width:767.98px) {
  .content-section-with-header .content-section-sub-header-label {
    margin-left: 0;
    margin-top: 5px
  }
}
.mdash-silent {
  display: inline-block;
  font-size: 0;
  height: 0
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px
}